body {
    background-color: #e0e0e0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.user-menu span {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.user-menu a {
    background-color: #756c63;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px 15px;
    text-decoration: none;
}

.user-menu a.catalog-link:hover {
    background-color: #617f26;
    transform: scale(1.05);
    opacity: 0.8;
}

.user-menu a.logout-button:hover {
    background-color: #6e0a0a;
    transform: scale(1.05);
    opacity: 0.8;
}

.return-form {
    background-color: #f4f4f4;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    width: 60%;

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

select,
input[type="text"] {
    background-color: #f9f9f9;
    border: 0px solid #ccc;
    border-radius: 30px; 
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

button[type="submit"] {
    background-color: #756363;
    border: none;
    border-radius: 30px;
    color: white;
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    padding: 12px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: #617f26;
}

table {
    width: 90%;
    max-width: 1400px;
    border-collapse: collapse;
    margin-top: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ccc;
    padding: 12px 10px;
    text-align: left;
}

table th {
    background-color: #756c63; 
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

table tr:hover {
    background-color: #e0e0e0; 
}

.error {
    color: #ff0000; 
    background-color: #ffe5e5; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}
