body {
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

.user-menu span {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.user-menu a {
    background-color: #756c63;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px 15px;
    text-decoration: none;
}

.user-menu a:hover {
    background-color: #6e0a0a;
    transform: scale(1.05);
    opacity: 0.8;
}

.loan-view {
    background-color: #f4f4f4;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    width: 50%;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #756c63; /* Cambiado a color café oscuro */
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

input[type="date"], select {
    background-color: #f9f9f9;
    border: 0px solid #ccc;
    border-radius: 30px; 
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

button[type="submit"] {
    background-color: #756c63;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    margin: auto;
    display: block;
}

button[type="submit"]:hover {
    background-color: #617f26;
}