/* Estilo general del cuerpo */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 15px; /* Aumenta el espaciado */
}

header h1 {
    font-size: 2em; /* Tamaño del título */
    color: #fff;
    margin: 0;
    text-align: center;
}

.user-menu a {
    background-color: #756c63;
    border-radius: 30px;
    color: #fff;
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
}

.user-menu a:hover {
    background-color: #617f26;
    transform: scale(1.05);
    opacity: 0.8;
}

.delete-button:hover {
    background-color: #6e0a0a;
    color: white;
    transform: scale(1.05);
}

/* Estilo de la tarjeta central */
.reservation-view {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    width: 70%;
    max-width: 600px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de los grupos de formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Estilo del botón */
button {
    padding: 10px 20px;
    background-color: #6e0a0a;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #352c23;
}
