body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;  /* Asegura que el body ocupe toda la altura de la ventana */
}

header {
    align-items: center;
    background-color: #352c23;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.user-menu {
    position: 23px center;
    top: 20px;
    right: 20px;
}

.user-menu span {
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

.user-menu .dropdown {
    background-color: #756c63;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    padding: 5px 15px;
    text-decoration: none;
}

.user-menu:hover .dropdown {
    background-color: #6e0a0a;
    transform: scale(1.05);
}

.user-menu .dropdown li {
    border-radius: 30px;
    padding: 1.5px;
    text-align: center;
}

.user-menu .dropdown li a {
    color: white;
    text-decoration: none;
}

.user-menu .dropdown li a:hover {
    background-color: #6e0a0a;
    color: #ffffff;
}

/* Contenedor de acciones */
.actions {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho del contenedor */
    text-align: center;
    margin: 50px auto;  /* Asegura que el contenedor esté centrado */
}

.actions ul {
    list-style-type: none;
    padding: 0;
}

.actions ul li {
    margin-bottom: 15px;
}

.actions ul li a {
    background-color: #e0e0e0;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    display: block;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

.actions ul li a:hover {
    background-color: #617f26;
    color: white;
    border-color: #617f26;
}
