body {
    background-color: #e0e0e0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.user-menu span {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.user-menu a {
    background-color: #756c63;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s, opacity 0.2s;
}

.user-menu a:hover {
    background-color: #617f26;
    transform: scale(1.05);
    opacity: 0.8;
}

.user-menu a.logout-button:hover {
    background-color: #6e0a0a;
}

.add-user-form {
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
}

.add-user-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.add-user-form input[type="text"],
.add-user-form input[type="email"],
.add-user-form input[type="password"],
.add-user-form select {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.add-user-form input:focus {
    border-color: #756c63;
    outline: none;
}

button[type="submit"] {
    background-color: #756c63;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    transition: background-color 0.3s;
    text-align: center;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #617f26;
}

.error, .success {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: #d32f2f;
}

.success {
    color: #388e3c;
}

@media (max-width: 768px) {
    .add-user-form {
        width: 90%;
        padding: 20px;
    }
}
