body {
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    align-items: center;
    background-color: #352c23;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia, serif;
    justify-content: space-between;
    padding: 23px;
    width: 100%;
}

h1 {
    margin: 0;
}

form {
    max-width: 800px;  /* Aumentamos el tamaño máximo del formulario */
    margin: 0 auto;
    background-color: white;
    padding: 30px;  /* Aumentamos el padding para hacerlo más espacioso */
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);  /* Ajustamos la sombra para un efecto más suave */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 95%;  /* Ajustamos el ancho para que los inputs sean más amplios */
    padding: 12px;  /* Aumentamos el padding para un mejor aspecto */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;  /* Aumentamos el tamaño de la fuente */
}

button {
    background-color: #756c63;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: auto;
    padding: 12px 20px;
}

button:hover {
    background-color: #617f26;
}

p.error {
    color: #d32f2f;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

p.success {
    color: #388e3c;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
