body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

header .logo h1 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
}

.user-menu {
    display: flex;
    gap: 10px;
}

.user-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #85756d; /* Color ajustado */
    border-radius: 30px;
    transition: background-color 0.3s;
}

.user-menu a:hover {
    background-color: #7a4848; /* Color ajustado */
}

.book-details-container {
    display: flex;
    gap: 30px;
    padding: 30px;
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.book-image {
    flex: 1; /* La imagen ocupa la mitad del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-image img {
    width: 100%; /* Ocupa toda el área de la imagen */
    height: auto;
    max-width: 2500px; /* Ajuste del tamaño máximo */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.book-info {
    flex: 1; /* La información ocupa la otra mitad del contenedor */
    color: #322300;
}

.book-info h2.book-title {
    margin-top: 0;
    font-size: 2rem;
    color: #5c4d43;
    border-bottom: 2px solid #5c4d43;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.book-info h3 {
    font-size: 1.5rem;
    color: #5c4d43;
    margin-bottom: 10px;
}

.book-info .synopsis {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.book-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 10px 0;
}

.book-info p strong {
    color: #d3a96f;
}

.book-info .reserve-button {
    background-color: #85756d;
    color: #ffffff;
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.book-info .reserve-button:hover {
    background-color: #7a4848;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #352c23;
    color: white;
    width: 100%;
    margin-top: auto; /* Empuja el footer hacia el fondo */
}

.success-message, .error-message {
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.success-message {
    background-color: #4CAF50;
}

.error-message {
    background-color: #f44336;
}

.back-button-container {
    text-align: center;
    margin: 10px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #85756d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #7a4848;
}