body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.user-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-menu span {
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

.user-menu a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #756c63;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.user-menu a:hover {
    background-color: #6e0a0a;
}

.book-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.book-image {
    text-align: center;
}

.book-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.book-info h2 {
    margin-top: 0;
    font-size: 2rem;
    color: #322300;
    border-bottom: 2px solid #3b3b98;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.book-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 10px 0;
}

.book-info p strong {
    color: #d3a96f;
}

.book-info .reserve-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #ffdd59;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.book-info .reserve-button:hover {
    background-color: #ffc048;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #352c23;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.error-message {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.back-button-container {
    text-align: center;
    margin: 20px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #756c63;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #617f26;
}
