body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/catalogBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

header {
    align-items: center;
    background-color: #352c23;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

html::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swal2-icon.swal2-info.swal2-icon-show {
    border-color: #617f26;
    color: #617f26;
}

.swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
    background-color: #f4f4f4;
    border-radius: 30px;
}

.swal2-confirm.swal2-styled {
    background-color: #756c63;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.swal2-confirm.swal2-styled:hover {
    background-color: #617f26;
    transform: scale(1.05);
}

.user-menu {
    position: center;
    top: 20px;
    right: 20px;
}

.user-menu span {
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

.user-menu a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #756c63;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-menu a:hover {
    background-color: #617f26;
    transform: scale(1.05);
}

.user-menu .logout-button:hover {
    background-color: #5c0808;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    background-color: #f9f9f9;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    width: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.search-bar button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #756c63;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 15px 10px 15px;
}

.search-bar button:hover {
    background-color: #617f26;
    transform: scale(1.05);
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.5s;
}

.book-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.book-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.book-item p {
    font-size: 14px;
    color: #555;
}

.book-item strong {
    display: block;
    margin-top: 5px;
}

.book-item p strong {
    display: inline-block;
    margin-right: 5px;
}

.info-icon {
    color: #617f26;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 15px;
}
