* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #ffffff;
    max-width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #352c23; /* Café oscuro */
}

h2 {
    color: #352c23;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #756c63; /* Café medio */
    text-align: left;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #756c63; /* Café medio */
    outline: none;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #756c63; /* Café medio */
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #617f26; /* Verde oscuro */
}

p {
    margin-top: 20px;
    color: #352c23; /* Café oscuro */
}

p a {
    color: #617f26; /* Verde */
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.error {
    color: #ff3860;
    background-color: #ffe5e5;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #e0a0a0;
}
