body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0; 
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
    animation: blurIn 3s ease forwards;
    z-index: -1;
    /* Ajusta el tamaño de la imagen de fondo un poco mas grande para que al 
    aplicar el blur no se vean una franjas blancas en los margenes*/
    transform: scale(1.2); 
}

/* Definición de la animación de desenfoque */
@keyframes blurIn {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(60px);
    }
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.user-menu {
    position: center;
    top: 20px;
    right: 20px;
}

.user-menu span {
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

.user-menu a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #756c63;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-menu a:hover {
    background-color: #617f26;
    transform: scale(1.05);
}

.user-menu .logout-button:hover {
    background-color: #5c0808;
}

.dashboard {
    background-color: #f4f4f4; 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: 50px auto;
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

.options-menu ul {
    list-style-type: none;
    padding: 0;
}

.options-menu li {
    border-radius: 30px;
    margin: auto auto;
    padding: 7.5px;
    text-align: center;
    width: 90%;
}

.options-menu a {
    background-color: #e0e0e0; 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    display: block;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.options-menu a.catalog-link {
    background-color: #756c63; /* Color diferente para 'Volver al Catálogo' */
    color: #ffffff;
}

.options-menu a:hover {
    background-color: #617f26; /* Color diferente para 'Volver al Catálogo' */
    color: #ffffff;
    transform: scale(1.05);
}
