body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #352c23; 
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    font-family: Georgia;
    justify-content: space-between;
    padding: 23px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.user-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-menu span {
    font-size: 16px;
    color: white;
}

.dashboard-link, .logout-button {
    background-color: #756c63;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px 15px;
    text-decoration: none;
}

.dashboard-link:hover, .logout-button:hover {
    background-color: #617f26;
}

.logout-button:hover {
    background-color: #6e0a0a;
    transform: scale(1.05);
}

.reservations-section {
    border-radius: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: rgba(20, 20, 20, 0.822);
    color: white;
}

table td {
    background-color: white;
}

.cancel-button {
    background-color: #756c63;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #6e0a0a;
}

.success-message, .error-message {
    font-size: 16px;
    color: green;
}

.error-message {
    color: red;
}
